<div class="row d-flex align-items-center justify-content-center" style="height: 300px;">
  <div class="text-center">
    <h3>貴重なご意見<br>
      ありがとうございました！
    </h3>
  <div class="text-center">
    <%= link_to "一覧",contacts_path, class: "btn btn-dark" %>
  </div>
  </div>
</div>
