  <div class="row mb-3 justify-content-center">
  <div class = text-font >
      <h1>Welcome to NEKONOTE</h1>
　    <h5>こちらは◯◯サークルの情報共有サイトです。</h5>


    <div class="row mb-3 justify-content-center">
      <div class="col-6 d-flex justify-content-end">
        <%= link_to "サークル運営者はこちら", new_admin_session_path, class: "btn btn-sm btn-dark btn-lg" %>
      </div>
      <div class="col-6 d-flex justify-content-start">
        <%= link_to "サークル員はこちら", new_customer_session_path, class: "btn btn-sm btn-dark btn-lg" %>
      </div>
    </div>
  </div>
</div>



