<div class='container'>
  <div class='row'>

    <div class='col-md-3'>
  　 <!--ログインサインインした人のuser情報を部分テンプレ-->
     <%#= render 'admin/admins', obj: @current_admin %>
    </div>

    <div class='col-md-9'>
      <div class='row mb-3'>
        <%= link_to "新規Link作成", new_admin_link_path , class: "btn btn-light" %>
       </div>

      <div class='row'>
      <table class="table table-bordered custom-table">
        <thead>
          <tr>
            <th>Link先</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @links.each do |link| %>
        <tr>
          <td><%= link.title %></td>
          <td><%= link_to "編集", edit_admin_link_path(link) , class: "btn btn-dark" %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @links %>
      </div>
    </div>

  </div>
</div>
