<div class='row mb-3'>
  <%= link_to "新規Link作成", new_admin_link_path , class: "btn btn-dark btn-sm" %>
</div>

<div class='row'>
  <table class="table table-bordered custom-table">
    <thead>
      <tr>
        <th>Link先</th>
      </tr>
    </thead>
    <tbody>
      <% @links.each do |link| %>
      <tr>
        <td><%= link_to(link.title,admin_link_path(link)) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
    <%= paginate @links %>

</div>

