<div class='row mb-3'>

  <%= link_to "新規schedule作成", new_admin_schedule_path , class: "btn btn-dark btn-sm mr-3" %>
  <%= link_to "placeページ", admin_places_path , class: "btn btn-dark btn-sm mr-3" %>
  <%= link_to "taskページ", admin_tasks_path , class: "btn btn-dark btn-sm" %>

</div>
